<div id="<%= dom_id image %>">
  <strong>Url:</strong>
    <%= image.url %>
  </div>
  <%= image_tag(image.url, style: "max-width: 25%")%>
  <div>
    <strong>Tags:</strong>
    <%= image.tags.map(&:name).join(", ") %>
  </div>
</div>
